body{
    font-family: 'Lato', sans-serif;
    color: #212121;
    background: rgb(255, 255, 255);
    background: linear-gradient(45deg, rgba(255, 255, 255, 1) 0%, rgba(158, 158, 158, 0.5494791666666667) 59%, rgba(189, 189, 189, 0.2525603991596639) 87%);
}
.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}
.carousel{
    height:40vh;
    width: 100%;
    
}
.lala{
    height: 40vh;
    background-position: center;
    background-size: cover;
}
.carousel-caption{
    color: #212121;
    font-weight: bold;
    display: flex;
    justify-self: end;
    align-self: flex-end;
    text-align: start;
}
.banner {
    display: flex;
    height: 70px;
    border-radius:5px; 
    background-color: #FFC107;
    margin: 2% 10% 2% 10%;
    -webkit-box-shadow: 0px 9px 10px -10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 9px 10px -10px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 9px 10px -10px rgba(0, 0, 0, 0.5);
}
.metodos{
    justify-content: space-around;
    align-self: center;
    width: 25%;
    text-align: center;
    padding: 10px;
}
i{
    padding: 2%;
}

.mails{
    display: flex;
    background-color: #FFC107;
    height: 30vh;
    margin: 0;
    padding: 2%;
    justify-content: center;
    align-items:flex-start;
    flex-direction: column;

}
.susc{
    justify-content: center;
    align-self: center;
}
.input-group {
    justify-content: center;
    align-self: center;
    margin: 1%;
    width: 40vw;
}

.promos{
    display: flex;
    margin: 5% 0 5% 0;
    height: 50vh;
}

.promo-content{
    padding: 2%;
}
.promo1{
    background-image: url(../images/selfie.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    padding: 2%;
    -webkit-box-shadow: 0px 9px 10px -10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 9px 10px -10px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 9px 10px -10px rgba(0, 0, 0, 0.5);

}
.promo2 {
    background-image: url(../images/faqs.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 50%;
    padding: 2%;
    margin-bottom: 1%;
    -webkit-box-shadow: 0px 9px 10px -10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 9px 10px -10px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 9px 10px -10px rgba(0, 0, 0, 0.5);

}

.promo1:hover ,.promo2:hover ,.promo3:hover {
    background: rgba(255, 236, 179, .4);
}
a:link{
    text-decoration: none;
}

.promo3 {
    height: 50%;
    background-color: rgb(27, 226, 21);
    /* background-image: url(../images/catalogo/IMG_25.jpeg); */
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 1%;
    padding: 2%;
    -webkit-box-shadow: 0px 9px 10px -10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 9px 10px -10px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 9px 10px -10px rgba(0, 0, 0, 0.5);

}
.promo3:hover {
    background-color: #FFECB3ed;
}